<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="RasterEdge.XDoc.PDF" publicKeyToken="b638ab5dea8d8105" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.4.9.20111" newVersion="10.4.9.20111" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RasterEdge.Imaging.Basic" publicKeyToken="b638ab5dea8d8105" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.4.9.20111" newVersion="10.4.9.20111" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RasterEdge.XDoc.Converter" publicKeyToken="b638ab5dea8d8105" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.4.9.20111" newVersion="10.4.9.20111" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RasterEdge.XImage.OCR" publicKeyToken="b638ab5dea8d8105" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.4.9.20111" newVersion="10.4.9.20111" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RasterEdge.XImage.Raster" publicKeyToken="b638ab5dea8d8105" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.4.9.20111" newVersion="10.4.9.20111" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RasterEdge.XDoc.Word" publicKeyToken="b638ab5dea8d8105" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.4.9.20111" newVersion="10.4.9.20111" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RasterEdge.XDoc.PowerPoint" publicKeyToken="b638ab5dea8d8105" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.4.9.20111" newVersion="10.4.9.20111" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RasterEdge.XDoc.Excel" publicKeyToken="b638ab5dea8d8105" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.4.9.20111" newVersion="10.4.9.20111" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RasterEdge.XDoc.TIFF" publicKeyToken="b638ab5dea8d8105" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.4.9.20111" newVersion="10.4.9.20111" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RasterEdge.Imaging.Annotation" publicKeyToken="b638ab5dea8d8105" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.4.9.20111" newVersion="10.4.9.20111" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RasterEdge.Imaging.DICOM" publicKeyToken="b638ab5dea8d8105" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.4.9.20111" newVersion="10.4.9.20111" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RasterEdge.Imaging.JBIG2" publicKeyToken="b638ab5dea8d8105" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.4.9.20111" newVersion="10.4.9.20111" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RasterEdge.XImage.BarcodeScanner" publicKeyToken="b638ab5dea8d8105" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.4.9.20111" newVersion="10.4.9.20111" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>